*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #6868cf;
  --secondary-color: #ffff;
  --pagebackground-color: #f0f0f0;
  --white-color: #ffff;
  --black-color:#000000;
  --grey-color: grey;
  --font-family: 'Roboto', sans-serif;
  --border-radius: 5px;
}
