*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
h3{
    margin: 20px;
}
.simple-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.password-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.email-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.number-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.twotype-inputContainer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.small-input{
    width: 70px;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: solid 1px #ccc;
    color: #333;
    background-color: #f9f9f9;
    
}
.medium-input{
    width: 300px;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: solid 1px #ccc;
    color: #333;
    background-color: #f9f9f9;
}
.threetype-inputConatiner{
    display: flex;
    margin-top: 20px;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    width: 400px;
}
.inner-com , .outer-com{
    width: 150px;
    padding: 10px 15px;
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.innersecond-com{
    width: 90px;
    padding: 10px 15px;
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.outersecond-com{
    width: 200px;
    padding: 10px 15px;
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.input-container button{
    background-color: #1677ff;
}